<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="ch.qos.logback" level="warn" />
    <logger name="org.springframework " level="info" />
    <logger name="org.apache" level="info" />
    <logger name="org.springframework.boot.autoconfigure.mongo.embedded" level="info" />
    <logger name="org.springframework.test" level="warn" />
    <logger name="com.github.mrazjava.booklink" level="debug" />
    <logger name="com.github.mrazjava.booklink.TestLogger" level="trace" />
</configuration>