<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <root level="info"/>
    <logger name="ch.qos.logback" level="warn" />
    <logger name="org.springframework " level="info" />
    <logger name="org.apache " level="info" />

    <springProfile name="local">
        <logger name="com.github.mrazjava.booklink" level="TRACE"/>

    </springProfile>

    <springProfile name="pre,live">
        <logger name="com.github.mrazjava.booklink" level="INFO"/>
    </springProfile>

</configuration>
